<a href="https://colab.research.google.com/github/IdorenyinAmaunam/Essex_Python/blob/main/Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Variables
A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [ ]:

x = 2
y = 5
xy = 'Hello'

In [ ]:
print(x+y, xy)

7 Hello

In [ ]:
# Multiple variables can be assigned with the same value

x = y = 1

print(x,y)

1 1

### Operators

#### Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [ ]:
1+2

3

In [ ]:
2-1

1

In [ ]:
1*2

2

In [6]:
1/2
60/2

30.0

In [ ]:
15%10

5

In [7]:
#Floor division is nothing but converting the result so obtained to the nearest integer.
6.8//2.0

3.0

## Relational Operators
| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [12]:
z = 8

In [13]:
z == 1

False

In [14]:
z > 1

True

In [17]:
print(round(5.6231))
print(round(4.55892, 3))

6
4.559

In [ ]:
divmod(9,4)

(2, 1)

In [21]:
pow(2,16)

65536

## Print


In Python, single, double and triple quotes are used to denote a string. Most use single quotes when declaring a single character. Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [23]:
print('H')

H

In [25]:
print("Hello World")

Hello World

In [24]:
print("""I am from Essex.
I love Python.""")

I am from Essex.
I love Python.

In [26]:
string1 = "World"
print("Hello", string1)

Hello World

In [27]:
string2 = '!'
print("Hello", string1, string2)

Hello World !

In [28]:
print("Hello" + string1 + string2)

HelloWorld!

In [30]:
print("Hello %s" % string1)

Hello World

In [44]:
print("Actual Number = %d" %18.089)
print("Float of the number = %.3f" %18)

Actual Number = 18
Float of the number = 18.000

In [41]:
print("Hello %s %s" %(string1,string2))

Hello World !

In [52]:
pick = 25
call = 8.30

if pick == 25 and call == 8.30:
  print("It's time. Start IADS")

It's time. Start IADS